{
  "swagger": "2.0",
  "info": {
    "description": "本文档的内容由后端开发提供，主要面向前端开发，系统交互开发和QA测试人员，作为各开发团队互相沟通的参考。",
    "version": "1.0",
    "title": "风控业务管理系统API文档",
    "contact": {
      "name": "risk.pd@hubenlv.com"
    },
    "license": {
      "name": "仅供公司内部使用",
      "url": "http://www.hubenlv.com"
    }
  },
  "host": "rbms-demo.corp.hubenlv.com",
  "basePath": "/",
  "tags": [
    {
      "name": "内匹功能，匹配：个人法人、关联人、企业及关联企业、地址匹配",
      "description": "Loan Match Controller"
    },
    {
      "name": "StatisticsController",
      "description": "报表统计信息"
    },
    {
      "name": "ActuatorController",
      "description": "系统基础信息监控及管理"
    },
    {
      "name": "ArchiveNotificationController",
      "description": "提示管理API"
    },
    {
      "name": "系统常用字典数据，如：审批拒绝原因、借款用途、各种类型状态、风险等级、.....",
      "description": "Icrc Param Dict Controller"
    },
    {
      "name": "产品审核操作配置：拒绝码、撤销码、文件核查选项、迁移条件配置",
      "description": "Product Review Options Controller"
    },
    {
      "name": "operation-item-controller",
      "description": "Operation Item Controller"
    },
    {
      "name": "ApplicationController",
      "description": "借款申请信息查询"
    },
    {
      "name": "审批订单文件核查:文件资料",
      "description": "Credit Order File Review Controller"
    },
    {
      "name": "CreditReportQueryController",
      "description": "三方信用報告查詢"
    },
    {
      "name": "ArchiveOperationRequestController",
      "description": "文档管理操作请求相关"
    },
    {
      "name": "CreditReviewController",
      "description": "订单审批相关"
    },
    {
      "name": "ReviewConfigController",
      "description": "审批配置相关服务"
    },
    {
      "name": "ReportFileController",
      "description": "报表文件下载"
    },
    {
      "name": "UniauthController",
      "description": "统一登录授权"
    },
    {
      "name": "analysis-controller",
      "description": "Analysis Controller"
    },
    {
      "name": "ChannelProductController",
      "description": "渠道产品信息定义"
    },
    {
      "name": "审批记录查询，审批时上传的:规则引擎审批结果、签约条件、担保人",
      "description": "Credit Review Result Log Controller"
    },
    {
      "name": "ArchiveController",
      "description": "文档管理中心相关"
    },
    {
      "name": "ExportExcelTestController",
      "description": "导出excel测试,每行固定100列，内容:Hello_Test"
    },
    {
      "name": "PaymentController",
      "description": "支付业务服务"
    },
    {
      "name": "UtilityController",
      "description": "通用工具类相关"
    },
    {
      "name": "签约条件查询",
      "description": "Loan Condition Controller"
    },
    {
      "name": "LoanAppProxyController",
      "description": "透传loanapp接口数据"
    },
    {
      "name": "CreditFeatureController",
      "description": "feature platform 查询"
    },
    {
      "name": "LoanBlacklistController",
      "description": "90+回购黑名单管理"
    },
    {
      "name": "ProcessConfManagementController",
      "description": "项目配置管理"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "ActuatorController"
        ],
        "summary": "默认页",
        "operationId": "indexUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/errors": {
      "get": {
        "tags": [
          "ActuatorController"
        ],
        "summary": "系统异常码表",
        "operationId": "getErrorsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/health": {
      "get": {
        "tags": [
          "ActuatorController"
        ],
        "summary": "系统健康检测",
        "operationId": "getHealthStatusUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "checkDetail",
            "in": "query",
            "description": "checkDetail",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1.1/files/data-transmission-report": {
      "get": {
        "tags": [
          "ReportFileController"
        ],
        "summary": "岗位流转基础数据CSV报表",
        "operationId": "downLoadDataTransmissionReportUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "workflowIdList",
            "in": "query",
            "description": "流程模板Id",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "开始日期",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "截止日期",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "productCodeList",
            "in": "query",
            "description": "产品代码",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1.1/menus": {
      "get": {
        "tags": [
          "UniauthController"
        ],
        "summary": "查询菜单信息(通过管理页面配置的)",
        "operationId": "getAllMenusUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "菜单状态",
            "required": false,
            "type": "string",
            "enum": [
              "ENABLED",
              "DISABLED"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/菜单"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1.1/statistics/category": {
      "get": {
        "tags": [
          "StatisticsController"
        ],
        "summary": "查询统计类别",
        "operationId": "getStatisticsCategoryUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/统计类别"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "借款申请列表查询",
        "operationId": "getListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "productCodeList",
            "in": "query",
            "description": "产品编号",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "channelIdList",
            "in": "query",
            "description": "渠道编号",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "reviewStatus",
            "in": "query",
            "description": "审核状态(待审核=PENDING,审核中=REVIEWING,审核通过=APPROVED,审核拒绝=REJECTED,退回补件=HOLD)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "PENDING",
                "REVIEWING",
                "APPROVED",
                "REJECTED",
                "HOLD"
              ]
            },
            "collectionFormat": "multi",
            "enum": [
              "PENDING",
              "REVIEWING",
              "APPROVED",
              "REJECTED",
              "HOLD"
            ]
          },
          {
            "name": "dateType",
            "in": "query",
            "description": "日期类型(0=申请日期，1=放款日期)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "开始时间",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "结束时间",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "loanInfo",
            "in": "query",
            "description": "借款信息(精确查询某个申请编号，身份证，手机号码)",
            "required": false,
            "type": "string"
          },
          {
            "name": "issueStatus",
            "in": "query",
            "description": "放款状态(1=已放款，0或NULL表示全部状态)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "loanId",
            "in": "query",
            "description": "借款编号(精确查询某个loanId)",
            "required": false,
            "type": "string"
          },
          {
            "name": "applicant",
            "in": "query",
            "description": "借款人",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "页面编码",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "分页大小",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/借款申请详情"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/{applicationId}": {
      "get": {
        "tags": [
          "LoanAppProxyController"
        ],
        "summary": "进件资料查询",
        "description": "参考[获取借款信息接口]https://wiki.hubenlv.com/pages/viewpage.action?pageId=31796416",
        "operationId": "getApplicationUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "借款申请ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "configCode",
            "in": "query",
            "description": "配置代码",
            "required": false,
            "type": "string",
            "default": "RBMS"
          },
          {
            "name": "excludes",
            "in": "query",
            "description": "排除项",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/contracts": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "查询合同列表",
        "operationId": "getContractListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "借款申请ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/合同信息"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/contracts/{contractId}/link": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "获取合同下载链接",
        "operationId": "getContractDownloadUrlUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "申请ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "contractTenant",
            "in": "query",
            "description": "合同租戶",
            "required": true,
            "type": "string",
            "enum": [
              "SCP",
              "DR_BORROWER",
              "NERVER_LAND"
            ]
          },
          {
            "name": "contractId",
            "in": "path",
            "description": "合同ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "reason",
            "in": "query",
            "description": "原因",
            "required": false,
            "type": "string",
            "default": "风控中心下载"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/下载链接"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/contracts/{contractId}/template": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "获取三方合同模板",
        "operationId": "getContractTemplateUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/html"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "借款申请ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "contractId",
            "in": "path",
            "description": "合同ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/credit": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "获取授信信息",
        "operationId": "getCreditInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "借款申请ID",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/授信信息聚合model"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/documents": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "获取文档列表(排除合同信息)",
        "operationId": "getDocumentListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "借款申请ID",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentBo"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/documents/link": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "获取批量文档下载链接",
        "operationId": "getDocumentsDownloadUrlUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "借款申请ID",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "documentIdList",
            "in": "query",
            "description": "documentIdList",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/下载链接"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/documents/{documentId}/link": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "跳转到文档链接",
        "operationId": "downloadDocumentUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "借款申请ID",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "文档ID",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "location",
            "in": "query",
            "description": "文档location",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/documents/{documentId}/url": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "获取文档链接",
        "operationId": "getDocumentDownloadUrlUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "借款申请ID",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "documentId",
            "in": "path",
            "description": "文档ID",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "location",
            "in": "query",
            "description": "文档location",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/下载链接"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/status": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "查询订单状态",
        "operationId": "getApplicationStatusUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "借款申请ID",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApplicationStatusBo"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/tripartite-contracts/link": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "获取三方合同批量下载链接",
        "operationId": "getTripartiteContractsDownloadUrlUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "申请ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "contractIdList",
            "in": "query",
            "description": "合同ID列表",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "reason",
            "in": "query",
            "description": "原因",
            "required": false,
            "type": "string",
            "default": "风控中心批量下载三方合同"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/下载链接"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/applications/{applicationId}/two-sides-contracts/link": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "获取双方合同批量下载链接",
        "operationId": "getTwoSidesContractsDownloadUrlUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "申请ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "contractIdList",
            "in": "query",
            "description": "合同ID列表",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "reason",
            "in": "query",
            "description": "原因",
            "required": false,
            "type": "string",
            "default": "风控中心批量下载双方合同"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/下载链接"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archive-operation-requests": {
      "get": {
        "tags": [
          "ArchiveOperationRequestController"
        ],
        "summary": "操作请求列表",
        "operationId": "getByPageUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "archiveStatusList",
            "in": "query",
            "description": "档案状态",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "NEW",
                "IN_STORE",
                "CANCELED",
                "BORROWED",
                "OUTSOURCED",
                "OUTSOURCE_PENDING",
                "OUTSOURCE_BACK_PENDING",
                "OUTSTORAGE",
                "OUTSTORAGE_PENDING",
                "DESTROYED",
                "DESTROY_PENDING"
              ]
            },
            "collectionFormat": "multi",
            "enum": [
              "NEW",
              "IN_STORE",
              "CANCELED",
              "BORROWED",
              "OUTSOURCED",
              "OUTSOURCE_PENDING",
              "OUTSOURCE_BACK_PENDING",
              "OUTSTORAGE",
              "OUTSTORAGE_PENDING",
              "DESTROYED",
              "DESTROY_PENDING"
            ]
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "页大小",
            "required": false,
            "type": "integer",
            "default": 2147483647,
            "format": "int32"
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "渠道Id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "platform",
            "in": "query",
            "description": "对应平台",
            "required": false,
            "type": "string",
            "enum": [
              "hubenlv",
              "XINGHEBAOLI",
              "DALIANXIAODAI",
              "OTHERS"
            ]
          },
          {
            "name": "archiveType",
            "in": "query",
            "description": "档案类别",
            "required": false,
            "type": "string",
            "enum": [
              "STRATEGIC_COORPERRATION_AGREEMENT",
              "GUARANTEE_CONTRACT",
              "OTHER_CONTRACT",
              "DECISION_DOCUMENT",
              "OTHER_DOCUMENT",
              "LOAN_CONTRACT",
              "MORTGAGE_CONTRACT",
              "GUARANTY_CONTRACT"
            ]
          },
          {
            "name": "archiveName",
            "in": "query",
            "description": "档案名称",
            "required": false,
            "type": "string"
          },
          {
            "name": "applicationId",
            "in": "query",
            "description": "借款编号",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "archiveId",
            "in": "query",
            "description": "档案编号",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/待处理字段"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archive-operation-requests/approve": {
      "post": {
        "tags": [
          "ArchiveOperationRequestController"
        ],
        "summary": "批量文档操作请求审核通过",
        "operationId": "batchApproveUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "batchAuditBo",
            "description": "batchAuditBo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/批量审核"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/操作日志"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archive-operation-requests/archive-edit": {
      "post": {
        "tags": [
          "ArchiveOperationRequestController"
        ],
        "summary": "文档操作请求-编辑",
        "operationId": "archiveEditOperationRequestUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operationRequest",
            "description": "operationRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/单个请求表单提交«文档属性编辑»"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/档案操作请求"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archive-operation-requests/borrow": {
      "post": {
        "tags": [
          "ArchiveOperationRequestController"
        ],
        "summary": "文档操作请求-借阅",
        "operationId": "borrowOperationRequestUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operationRequest",
            "description": "operationRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/单个请求表单提交«借出登记»"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/档案操作请求"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archive-operation-requests/cancel": {
      "post": {
        "tags": [
          "ArchiveOperationRequestController"
        ],
        "summary": "批量取消文档操作请求",
        "operationId": "batchCancelUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "batchCancelBo",
            "description": "batchCancelBo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/批量取消请求"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archive-operation-requests/destroy": {
      "post": {
        "tags": [
          "ArchiveOperationRequestController"
        ],
        "summary": "文档操作请求-销毁",
        "operationId": "destroyOperationRequestUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operationRequest",
            "description": "operationRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/单个请求表单提交«销毁申请字段»"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/档案操作请求"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archive-operation-requests/out-storage": {
      "post": {
        "tags": [
          "ArchiveOperationRequestController"
        ],
        "summary": "文档操作请求-永久出库",
        "operationId": "outStorageOperationRequestUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operationRequest",
            "description": "operationRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/单个请求表单提交«永久出库»"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/档案操作请求"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archive-operation-requests/outsource": {
      "post": {
        "tags": [
          "ArchiveOperationRequestController"
        ],
        "summary": "文档操作请求-外包",
        "operationId": "outsourceOperationRequestUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operationRequest",
            "description": "operationRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/单个请求表单提交«外包»"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/档案操作请求"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archive-operation-requests/outsource-back": {
      "post": {
        "tags": [
          "ArchiveOperationRequestController"
        ],
        "summary": "文档操作请求-外包调回",
        "operationId": "outsourceBackOperationRequestUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operationRequest",
            "description": "operationRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/单个请求表单提交"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/档案操作请求"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archive-operation-requests/reject": {
      "post": {
        "tags": [
          "ArchiveOperationRequestController"
        ],
        "summary": "批量文档操作请求审核拒绝",
        "operationId": "batchRejectUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "batchAuditBo",
            "description": "batchAuditBo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/批量审核"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/操作日志"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archive-operation-requests/return": {
      "post": {
        "tags": [
          "ArchiveOperationRequestController"
        ],
        "summary": "文档操作请求-归还",
        "operationId": "returnOperationRequestUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "operationRequest",
            "description": "operationRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/单个请求表单提交"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/档案操作请求"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archive-operation-requests/{operationRequestId}": {
      "get": {
        "tags": [
          "ArchiveOperationRequestController"
        ],
        "summary": "操作请求详情",
        "operationId": "getDetailUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "operationRequestId",
            "in": "path",
            "description": "operationRequestId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/待处理字段"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archive-operation-requests/{requestId}/approve": {
      "post": {
        "tags": [
          "ArchiveOperationRequestController"
        ],
        "summary": "文档操作请求审核通过",
        "operationId": "approveUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "requestId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "approveLog",
            "description": "approveLog",
            "required": false,
            "schema": {
              "$ref": "#/definitions/审核备注"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/操作日志"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archive-operation-requests/{requestId}/cancel": {
      "post": {
        "tags": [
          "ArchiveOperationRequestController"
        ],
        "summary": "取消文档操作请求",
        "operationId": "cancelUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "requestId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archive-operation-requests/{requestId}/complete": {
      "post": {
        "tags": [
          "ArchiveOperationRequestController"
        ],
        "summary": "完成文档操作请求",
        "operationId": "completeUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "requestId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archive-operation-requests/{requestId}/reject": {
      "post": {
        "tags": [
          "ArchiveOperationRequestController"
        ],
        "summary": "文档操作请求审核拒绝",
        "operationId": "rejectUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "description": "requestId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "approveLog",
            "description": "approveLog",
            "required": true,
            "schema": {
              "$ref": "#/definitions/审核备注"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/操作日志"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archive-statuses": {
      "get": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "获取档案状态下拉",
        "operationId": "getArchiveStatusesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/枚举"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archive-types": {
      "get": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "获取档案类型",
        "operationId": "getArchiveTypesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "archivingRecordType",
            "in": "query",
            "description": "archivingRecordType",
            "required": false,
            "type": "string",
            "enum": [
              "CHANNEL",
              "CONTRACT",
              "OTHERS"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/枚举"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archives": {
      "get": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "查询档案信息",
        "description": "Issue History: RC-236",
        "operationId": "getArchivesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "archiveStatusList",
            "in": "query",
            "description": "档案状态",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "NEW",
                "IN_STORE",
                "CANCELED",
                "BORROWED",
                "OUTSOURCED",
                "OUTSOURCE_PENDING",
                "OUTSOURCE_BACK_PENDING",
                "OUTSTORAGE",
                "OUTSTORAGE_PENDING",
                "DESTROYED",
                "DESTROY_PENDING"
              ]
            },
            "collectionFormat": "multi",
            "enum": [
              "NEW",
              "IN_STORE",
              "CANCELED",
              "BORROWED",
              "OUTSOURCED",
              "OUTSOURCE_PENDING",
              "OUTSOURCE_BACK_PENDING",
              "OUTSTORAGE",
              "OUTSTORAGE_PENDING",
              "DESTROYED",
              "DESTROY_PENDING"
            ]
          },
          {
            "name": "archivingRecordId",
            "in": "query",
            "description": "归档编号",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "archivingRecordType",
            "in": "query",
            "description": "归档类型",
            "required": false,
            "type": "string",
            "enum": [
              "CHANNEL",
              "CONTRACT",
              "OTHERS"
            ]
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "渠道ID",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "platform",
            "in": "query",
            "description": "对应平台",
            "required": false,
            "type": "string",
            "enum": [
              "hubenlv",
              "XINGHEBAOLI",
              "DALIANXIAODAI",
              "OTHERS"
            ]
          },
          {
            "name": "archiveType",
            "in": "query",
            "description": "档案类别",
            "required": false,
            "type": "string",
            "enum": [
              "STRATEGIC_COORPERRATION_AGREEMENT",
              "GUARANTEE_CONTRACT",
              "OTHER_CONTRACT",
              "DECISION_DOCUMENT",
              "OTHER_DOCUMENT",
              "LOAN_CONTRACT",
              "MORTGAGE_CONTRACT",
              "GUARANTY_CONTRACT"
            ]
          },
          {
            "name": "archiveName",
            "in": "query",
            "description": "档案名称",
            "required": false,
            "type": "string"
          },
          {
            "name": "applicationId",
            "in": "query",
            "description": "借款编号",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "archiveId",
            "in": "query",
            "description": "档案编号",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "description": "页面编码",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "分页大小",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/档案"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archives/batch-upload-template": {
      "get": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "获取批量上传模板",
        "operationId": "getBatchUploadTemplateUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archives/delivery-receipt": {
      "get": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "获取交接单",
        "operationId": "getDeliveryReceiptUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "archivingRecordId",
            "in": "query",
            "description": "archivingRecordId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "archiveId",
            "in": "query",
            "description": "archiveId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "archiveOperationRequestId",
            "in": "query",
            "description": "archiveOperationRequestId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "deliveryReceiptType",
            "in": "query",
            "description": "交接单类型",
            "required": true,
            "type": "string",
            "enum": [
              "IN_STORE",
              "OUT_STORE",
              "OUT_SOURCING",
              "RECALL",
              "DESTROY",
              "PERMANENT_OUT_STORE",
              "RETURN"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archives/document-oss-link": {
      "get": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "获取oss上传链接",
        "operationId": "getOssLinkUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "fileName",
            "in": "query",
            "description": "文件名",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/字符串对象"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archives/{archiveId}": {
      "get": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "档案详情接口",
        "operationId": "getArchiveBoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "archiveId",
            "in": "path",
            "description": "archiveId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/档案"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archives/{archiveId}/documents": {
      "post": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "提交文件信息到指定档案",
        "description": "Issue History: RC-236",
        "operationId": "submitDocumentsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "archiveId",
            "in": "path",
            "description": "档案ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "documentBos",
            "description": "documentBos",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DocumentBo"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archiving-record-platforms": {
      "get": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "获取平台",
        "operationId": "getPlatformsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/枚举"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archiving-record-types": {
      "get": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "获取文档类型",
        "operationId": "getArchiveRecordTypesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/枚举"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archiving-records": {
      "post": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "保存档案入库单",
        "operationId": "saveArchivingRecordUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "recordCreationBo",
            "description": "档案入库单",
            "required": true,
            "schema": {
              "$ref": "#/definitions/创建归档记录"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/归档记录"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archiving-records/{archivingRecordId}/archive-files": {
      "post": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "批量提交档案信息",
        "description": "Issue History: RC-236",
        "operationId": "batchUploadArchivesUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "archivingRecordId",
            "in": "path",
            "description": "归档记录ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "archiveFile",
            "in": "formData",
            "description": "档案信息文件",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archiving-records/{archivingRecordId}/archives": {
      "post": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "提交档案信息",
        "description": "Issue History: RC-236",
        "operationId": "submitUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "archivingRecordId",
            "in": "path",
            "description": "归档记录ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "archiveBo",
            "description": "archiveBo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/档案"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/档案"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archiving-records/{archivingRecordId}/cancel": {
      "post": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "取消档案入库单及关联档案",
        "description": "Issue History: RC-236",
        "operationId": "cancelArchiveRecordAndArchivesUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "archivingRecordId",
            "in": "path",
            "description": "归档记录ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/archiving-records/{archivingRecordId}/completion": {
      "put": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "完成归档",
        "operationId": "completeArchiveUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "archivingRecordId",
            "in": "path",
            "description": "archivingRecordId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/blacklists": {
      "get": {
        "tags": [
          "LoanBlacklistController"
        ],
        "summary": "查询黑名单上传记录",
        "operationId": "queryBlacklistUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "页大小",
            "required": false,
            "type": "integer",
            "default": 2147483647,
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "description": "type",
            "required": false,
            "type": "string",
            "enum": [
              "ADD",
              "REMOVE"
            ]
          },
          {
            "name": "approveStatus",
            "in": "query",
            "description": "approveStatus",
            "required": false,
            "type": "string",
            "enum": [
              "PENDING",
              "APPROVED",
              "REJECTED"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LoanBlacklistBo"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "LoanBlacklistController"
        ],
        "summary": "上传90+黑名单文件，上传类型：移除",
        "operationId": "uploadRemoveBlacklistUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "fileName",
            "in": "formData",
            "description": "fileName",
            "required": true,
            "type": "file"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "string",
            "default": "REMOVE",
            "enum": [
              "REMOVE"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/blacklists/loans": {
      "get": {
        "tags": [
          "LoanBlacklistController"
        ],
        "summary": "查询黑名单借款的用户借款信息",
        "operationId": "queryBlacklistInfoUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "loanIds",
            "in": "query",
            "description": "接口编号",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "channelId",
            "in": "query",
            "description": "渠道id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "channelName",
            "in": "query",
            "description": "渠道名称",
            "required": false,
            "type": "string"
          },
          {
            "name": "productCode",
            "in": "query",
            "description": "产品编号",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "查看页码,默认1，（0，负数）不可传",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "每页记录数，默认50",
            "required": false,
            "type": "integer",
            "default": 50,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/黑名单loan用户信息"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/blacklists/template": {
      "get": {
        "tags": [
          "LoanBlacklistController"
        ],
        "summary": "黑名单的模板下载",
        "operationId": "blacklistTemplateUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "loanIds",
            "in": "query",
            "description": "接口编号",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "channelId",
            "in": "query",
            "description": "渠道id",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "channelName",
            "in": "query",
            "description": "渠道名称",
            "required": false,
            "type": "string"
          },
          {
            "name": "productCode",
            "in": "query",
            "description": "产品编号",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "查看页码,默认1，（0，负数）不可传",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "每页记录数，默认50",
            "required": false,
            "type": "integer",
            "default": 50,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string",
              "format": "byte"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/blacklists/{listId}": {
      "get": {
        "tags": [
          "LoanBlacklistController"
        ],
        "summary": "下载上传的黑名单文件",
        "operationId": "downloadBlacklistUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "listId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "LoanBlacklistController"
        ],
        "summary": "删除上传的黑名单文件（本地记录删除）",
        "operationId": "deleteFileUsingDELETE_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "listId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/blacklists/{listId}/approve-status": {
      "put": {
        "tags": [
          "LoanBlacklistController"
        ],
        "summary": "审批，审批确认提交、确认移除；",
        "operationId": "approveListUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "listId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "condition",
            "description": "condition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoanBlacklistApproveCondition"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/blacklists/{listId}/items": {
      "get": {
        "tags": [
          "LoanBlacklistController"
        ],
        "summary": "查询黑名单的loanid及处理状态",
        "operationId": "queryBlacklistUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "页大小",
            "required": false,
            "type": "integer",
            "default": 2147483647,
            "format": "int32"
          },
          {
            "name": "listId",
            "in": "path",
            "description": "listId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "required": false,
            "type": "string",
            "enum": [
              "PENDING",
              "COMMITED",
              "DISMATCH"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LoanBlacklistItemsBo"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/business-application-resports": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "商业借款申请生命周期综合信息(商贷报表)",
        "operationId": "getBusinessIntegratedListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "productCodeList",
            "in": "query",
            "description": "产品编号",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "channelIdList",
            "in": "query",
            "description": "渠道编号",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "reviewStatus",
            "in": "query",
            "description": "审核状态(待审核=PENDING,审核中=REVIEWING,审核通过=APPROVED,审核拒绝=REJECTED,退回补件=HOLD)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "PENDING",
                "REVIEWING",
                "APPROVED",
                "REJECTED",
                "HOLD"
              ]
            },
            "collectionFormat": "multi",
            "enum": [
              "PENDING",
              "REVIEWING",
              "APPROVED",
              "REJECTED",
              "HOLD"
            ]
          },
          {
            "name": "dateType",
            "in": "query",
            "description": "日期类型(0=申请日期，1=放款日期)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "开始时间",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "结束时间",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "loanInfo",
            "in": "query",
            "description": "借款信息(精确查询某个申请编号，身份证，手机号码)",
            "required": false,
            "type": "string"
          },
          {
            "name": "issueStatus",
            "in": "query",
            "description": "放款状态(1=已放款，0或NULL表示全部状态)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "loanId",
            "in": "query",
            "description": "借款编号(精确查询某个loanId)",
            "required": false,
            "type": "string"
          },
          {
            "name": "applicant",
            "in": "query",
            "description": "借款人",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/商业借款申请生命周期综合信息"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/channels": {
      "get": {
        "tags": [
          "ChannelProductController"
        ],
        "summary": "渠道列表查询",
        "operationId": "getChannelListUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "productCodeList",
            "in": "query",
            "description": "产品代码",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "channelName",
            "in": "query",
            "description": "渠道名称",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "状态",
            "required": false,
            "type": "string",
            "enum": [
              "ENABLED",
              "DISABLED"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/渠道配置详情"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/companies": {
      "get": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "获取合作公司信息分页列表",
        "operationId": "getCompanyPageUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "页码",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "页大小",
            "required": false,
            "type": "integer",
            "default": 2147483647,
            "format": "int32"
          },
          {
            "name": "name",
            "in": "query",
            "description": "合作公司名称（like查询）",
            "required": false,
            "type": "string"
          },
          {
            "name": "identityType",
            "in": "query",
            "description": "证件类型",
            "required": false,
            "type": "string",
            "enum": [
              "UNIFIED_CREDIT_CODE",
              "BUSINESS_LICENSE_NUMBER",
              "ORGANIZATION_CODE",
              "TAX_NUMBER"
            ]
          },
          {
            "name": "identityNumber",
            "in": "query",
            "description": "证件号码",
            "required": false,
            "type": "string"
          },
          {
            "name": "channelId",
            "in": "query",
            "description": "渠道ID",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "status",
            "in": "query",
            "description": "合作公司状态",
            "required": false,
            "type": "string",
            "enum": [
              "ENABLED",
              "DISABLED"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/企业信息"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "提交合作公司信息",
        "operationId": "saveCompanyUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "companyBo",
            "description": "合作公司信息",
            "required": true,
            "schema": {
              "$ref": "#/definitions/创建合作公司"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/企业信息"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "批量修改合作公司状态",
        "operationId": "batchUpdateCompanyStatusUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "companyIds",
            "in": "query",
            "description": "companyIds",
            "required": true,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "in": "body",
            "name": "statusBo",
            "description": "statusBo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/状态"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "批量失效合作公司",
        "operationId": "disableCompanyUsingDELETE",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "companyIds",
            "description": "companyIds",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/v1/companies/{companyId}": {
      "get": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "获取合作公司信息",
        "operationId": "getCompanyUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "companyId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/企业信息"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "修改合作公司信息",
        "operationId": "updateCompanyUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "description": "companyId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "in": "body",
            "name": "companyEditionBo",
            "description": "companyEditionBo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/合作公司编辑"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/company-identity-types": {
      "get": {
        "tags": [
          "ArchiveController"
        ],
        "summary": "获取合作公司证件类型",
        "operationId": "getIdentityTypesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/枚举"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/contracts/{contractId}/link": {
      "get": {
        "tags": [
          "UtilityController"
        ],
        "summary": "合约下载链接",
        "operationId": "getContractDownloadLinkUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "合约ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "contractTenant",
            "in": "query",
            "description": "合约租户",
            "required": true,
            "type": "string",
            "enum": [
              "SCP",
              "DR_BORROWER",
              "NERVER_LAND"
            ]
          },
          {
            "name": "reason",
            "in": "query",
            "description": "原因",
            "required": false,
            "type": "string",
            "default": "风控中心下载"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/字符串对象"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/core-customers": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "根据条件查询供应链核心客户信息列表",
        "operationId": "getCoreEnterprisesUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "客户名称",
            "required": false,
            "type": "string"
          },
          {
            "name": "institutionCode",
            "in": "query",
            "description": "组织机构代码",
            "required": false,
            "type": "string"
          },
          {
            "name": "contactName",
            "in": "query",
            "description": "联系人名称",
            "required": false,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "页大小",
            "required": false,
            "type": "integer",
            "default": 2147483647,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/供应链核心企业列表信息"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/core-customers/{actorId}": {
      "get": {
        "tags": [
          "ApplicationController"
        ],
        "summary": "根据actorId查询供应链核心客户信息",
        "operationId": "getCoreEnterpriseUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json;charset=UTF-8"
        ],
        "parameters": [
          {
            "name": "actorId",
            "in": "path",
            "description": "客户id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/供应链核心企业详情信息"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/v1/credit-features/{creditReviewOrderId}": {
      "get": {
        "tags": [
          "CreditFeatureController"
        ],
        "summary": "查询feature信息：请使用/v1/credit-review-orders/{creditReviewOrderId}/credit-features",
        "operationId": "getFeatureMessageByCreditReviewOrderIdUsingGET",
[...]
